<header>
  <a href="/"><img src="favicon.ico" alt=""> Louise CABROLIER</a>

  @if (littleScreen && !menuMobileOpen) {
    <span (click)="menuChange()">&#9776;</span>
  }
  @if (littleScreen && menuMobileOpen) {
    <span (click)="menuChange()">&times;</span>
  }

  @if (!littleScreen || menuMobileOpen) {
    <nav>
      <a href="/about">A propos</a>
      <a href="/projects">Projets</a>
      <a href="/blog">Blog</a>
      <a href="/about#moncv">Mon CV</a>
    </nav>
  }
</header>

<router-outlet />

<footer>
  <div class="footerLinks">
    <div class="liensUtiles">
      <h3>Liens utiles</h3>
      <a href="/blog">Mon blog</a>
      <a href="/projects">Mes projets</a>
    </div>
    <div class="separator"></div>
    <div class="socialNetworks">
      <h3>Réseaux sociaux</h3>
      <a target="_blank" href="https://www.instagram.com/louise_cabrolier/">Instagram</a>
      <a target="_blank" href="https://www.linkedin.com/in/louise-cabrolier/">LinkedIn</a>
      <a target="_blank" href="https://github.com/louisecabrolier">GitHub</a>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2026 Louise CABROLIER.</p>
  </div>
</footer>